# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/
env/

# macOS
.DS_Store

# Logs
logs/
*.log

# Temporary files
*.tmp
result*.cpp
unique*res.md

# Tests / тестовые данные
test/